
/* SECTION */
#test1 img{
    width: 100%;
    border: 10px solid white;
    margin-bottom: 20px;
}
#test1 select{
    width: 20%;
}
#test1 h{
    font-size: 20px;
}
#test1 ul{
    margin-right: 0px;
}
#test1 main{
    width: 10%;
}
#test1 ul{
    float: right;
   
}
                    








/* END OF FOOTER */

